<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link  href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <nav>
        <div class ="logo">
        <img src="./images/logo-mercado-liebre.svg" alt="logo">
       
        </div>
        <form action="" method="get">
            
            <input type="text" name="" id="" placeholder="Buscar productos, marcas" />
            <button type="submit">enviar</button>
        </form>
        <p></p><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</p>
        <ul  class="item">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="item">
            <li><a href="#">Crear tu cuenta<i class="fa-solid fa-user-plus"></i></a></li>
            <li><a href="#">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
        
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
          </div>
    </nav>
</header>

<main>
    <form class="formulario" action="" method="get">
        <h2>Registro</h2>
        <div class="campo">
            <label for="nombreyapellido">Nombre y Apellido:</label>
            <input type="text" name="nombreyapellido" id="nombreyapellido">
        </div>

        <div class="campo">
            <label for="nombreusuario">Nombre de Usuario:</label>
            <input type="text" name="nombreusuario" id="nombreusuario">
        </div>

        <div class="campo">
            <label for="fechadenac">Fecha de Nacimiento:</label>
            <input type="date" name="fechadenac" id="fechadenac">
        </div>

        <div class="campo">
            <label for="domicilio">Domicilio:</label>
            <input type="text" name="domicilio" id="domicilio">
        </div>

        <div class="campo">
            <label for="perfildeusuario">Perfil de Usuario</label>
            <div class="campo-radio">
                <label>Comprador</label>
                <input type="radio" name="perfildeusuario" id="perfildeusuario" value="comprador">
                <label>Vendedor</label>
                <input type="radio" name="perfildeusuario" id="perfildeusuario" value="vendedor">
            </div>
        </div>

        <div class="campo">
            <label for="categoria">Categoria</label>
            <div class="campo-checkbox-opcion">
                <input type="checkbox" name="categoria" id="categoria">
                <label>Electro</label>
            </div>
            <div class="campo-checkbox-opcion">
                <input type="checkbox" name="categoria" id="categoria">
                <label>Moda</label>
            </div>
            <div class="campo-checkbox-opcion">
                <input type="checkbox" name="categoria" id="categoria">
                <label>Hogar</label>
            </div>
            <div class="campo-checkbox-opcion">
                <input type="checkbox" name="categoria" id="categoria">
                <label>Juguetería</label>
            </div>
            <div class="campo-checkbox-opcion">
                <input type="checkbox" name="categoria" id="categoria">
                <label>Vida sana</label>
            </div>
        </div>

        <div class="campo">
            <label for="foto">Foto de usuario:</label>
            <input type="file" name="foto" id="foto">
        </div>

        <div class="campo">
            <label>Contraseña:</label>
            <input type="password" name="contrasena" id="contrasena">
        </div>

        <div class="campo">
            <label>Confirmar contraseña:</label>
            <input type="password" name="contrasena" id="contrasena">
        </div>

        <button>enviar</button>
        <button>borrar datos del formulario</button>
    </form>
</main>

<footer>
    <div>
        <i class="fa-solid fa-credit-card"></i>
    <h4>Paga en cuotas o efectivo</h4>
    <p>Con Mercado Liebre Cash, tenés cuotas sin </p>
    <p>interés con tarjeta o efectivo en puntos de </p>
    <p>pago. ¡Y siempre es seguro!</p>
    </div>
    <div>
        <h4>Envío gratis desde los $2.500</h4>
    <p>Solo por estar registrado en Mercado Liebre </p>
    <p>tenés envíos gratis en miles de productos.Es  </p>
    <p>un beneficio de Mercado Puntos</p>
    </div>
    <div>
        <h4>Seguridad de principio a fin</h4>
    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre</p>
    <p>no hay nada que no puedas hacer porque estás</p>
    <p>siempre protegid@.</p>
    </div>
</footer>
</body>
</html>